html, body{

		padding:0px;
		margin:0px;
		background-color:white;
		overflow-x: hidden;
		
		
		


}





/* header */


#menu{


	display: flex;
	flex-direction: column;
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:300px;
	background-color: rgb(56, 142, 199);
	


}

.blase{

	margin-top: 30px;
	text-align: center;


}

.blase img{

	height: 150px;
	width:auto;


}

#menu a:hover{

	color:rgb(65, 64, 63);
}
#cv img{

	height:150px;


}


.nav{

	margin-top: 100px;
	


}

	.nav-link{
	
	
	margin-right: auto;
	margin-top: 20px;
	width:250px;
	color:rgb(255, 255, 255);
	font-size:2rem;
	border-bottom: 1px solid black;
	
	
}

.nav-link:hover, .blase:hover{

	
	transition: all 0.3s ease-in-out 0.1s;
}




/* corps */

section{

	margin-top: 200px;
	display:flex;
	position:absolute;
	left:300px;
}

#presentation{

		font-size: 3.5rem;
		margin-right: 80px;
		margin-left: 80px;
		text-align: center;
		color:black;

}

#cv{

	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	font-size: 40px;


}

#scroll{

	
	text-align: center;

}

#scroll img{

		height:150px;
		margin-top: 150px;


}


#productions{


	display: flex;
	justify-content: center;
	margin-top: 350px;
	font-size: 3.5rem;
	color:black;
}


#creations{

	display: flex;
	justify-content: space-around;
	margin-top: 200px;
	color:black;
	text-align: center;
	




}

#creations p{

	margin-top: 20px;
	font-size: 20px;

}


/* Animation bouton  */

.wrapper{
	position:absolute;
	margin-top: 40px;
	transform: translate(-50%, -50%);
	margin-left: 125px;
  }
  
  .link_wrapper{
	display: flex;
	justify-content: space-around;
  }
  
  .link_wrapper a{
	display: block;
	width: 250px;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	text-decoration: none;
	background: rgb(56, 142, 199);
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 3px solid rgb(56, 142, 199);
	transition: all .35s;
  }
  
  .icon{
	width: 50px;
	height: 50px;
	border: 3px solid transparent;
	position: absolute;
	transform: rotate(45deg);
	right: 0;
	top: 0;
	z-index: -1;
	transition: all .35s;
  }
  
  .icon svg{
	width: 30px;
	position: absolute;
	top: calc(50% - 15px);
	left: calc(50% - 15px);
	transform: rotate(-45deg);
	fill: rgb(56, 142, 199);
	transition: all .35s;
  }
  
  .link_wrapper a:hover{
	width: 200px;
	border: 3px solid rgb(56, 142, 199);
	background: transparent;
	color: rgb(56, 142, 199);
  }
  
  .link_wrapper a:hover + .icon{
	border: 3px solid rgb(56, 142, 199);
	right: -25%;
  }


/* pied-de-page */



#contact{

	display: flex;
	justify-content: center;
	margin-top: 320px;
	font-size: 3.5rem;
	color:black;
	
}

#reseaux{

	margin-top: 200px;
	display:flex;
	justify-content: space-around;
	margin-bottom: 100px;

}

#reseaux img{

	height:250px;


}

#reseaux p{

	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}

#remonter{

	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom:100px;


}

#remonter img{

	height:150px;


}


@media screen and (max-width: 1400px){

	#menu{

		width:450px;



	}

	.blase{

		margin-top: 150px;
		font-size: 4rem;

	}
	
	.nav-link{

		font-size: 3rem;
		margin-bottom:50px;


	}

	.nav{

		margin-top: 200px;
	}

	section{

		left:450px;
		width: 125%;
		display: flex;
		justify-content: center;


	}

	#presentation{

		margin-left: 10px;
		margin-right: 10px;
		padding:10px;
		font-size: 4.5rem;
		text-align: center;

	}

	#creations{

		display: flex;
		flex-direction:column ;
		align-content: center;
		



	}

	#creations img{

		height:550px;


	}

	#creations p{

		font-size:3rem;

	}

	#illu, #pshop, #ppro{

		margin-bottom: 350px;


	}

	#illu .wrapper, #pshop .wrapper, #ppro .wrapper{

		margin-left: 600px;
		margin-top: 70px;
		
	}

	.link_wrapper a{

		width:500px;
		height:auto;
		line-height: 100px;
		font-size: 60px;

	}

	#cv{

		font-size: 3.5rem;

	}

	#reseaux{

		flex-direction: column;
		align-items: center;



	}

	#reseaux p{


		font-size: 3rem;
	}

	#reseaux img{

		height:550px;
	}

	#email, #insta, #linkedin{

		margin-bottom: 350px;

	}

	#email .wrapper, #insta .wrapper, #linkedin .wrapper {

		margin-left: 260px;
		margin-top: 70px;

	}



}